<!-- src/app/invitation/invitation.component.html -->
<div class="invitation" content="width=device-width, initial-scale=1, user-scalable=no">
  <img src="/assets/download5.jpg" alt="Overlay Image" class="overlay-image" /> <!-- Overlay image -->
        <i><p>We are excited to announce the Gruha Pravesam (housewarming) ceremony of our new home. We cordially invite you and your family to grace this auspicious occasion.</p></i>
        <b><p>Date and Time:<br>
          Gruha Pravesam Pooja: August 23rd at 2:44 AM<br>
          Celebration: August 24th at 11:30 AM</p></b>
       <i> <p>We would love to have you join us on these special days. Your presence will make the occasion even more memorable as we celebrate and seek your blessings.</p></i>
        <br><button  (click)="RSVP()">Click to RSVP</button>
 </div>
