<!-- src/app/invitation/invitation.component.html -->
<div class="invitation" content="width=device-width, initial-scale=1, user-scalable=no">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button  (click)="RSVP()">Click to RSVP</button>
 </div>
